@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  .searchBar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
  }

  .searchBar input{
    width: 300%;
    background-color: rgb(246, 246, 246);
    border: 0px;
    padding: 10px;
    text-align: left;
    text-indent: 5%;
    
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .logo{
    width: 50px;
    margin: auto 0;
  }
  .search{
    width: 20px;
    margin: auto 0;
   
   
  }

  .build {
    height: 600px;
    background-color: rgb(232,217,217,.3);
  }
 h1 {
    font-size: 5em;
    font-weight: 1000;
    text-align: center;


  }